.tooltip {
  position: relative;
}

.tooltip__button i {
  color: #AEB4C6;
}

.tooltip__content {
  z-index: 1000;
  position: absolute;
  left: -30px;
  padding-top: 9px;
}

.tooltip__content::before {
  z-index: 100;
  position: absolute;
  top: 1px;
  left: 23px;
  display: block;
  content: '';
  background: url('../img/tooltip-arrow.svg');
  width: 20px;
  height: 9px;
}

.tooltip__content-wrapper {
  position: relative;
  width: 350px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltip__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #667084;
}

.tooltip__title {
  font-size: 14px;
  font-weight: 400;
}

.tooltip__tips {
  margin-top: 8px;
  color: #667084;
}

.tooltip__tips li {
  display: flex;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
}

.tooltip__tips li::before {
  content: '-';
  margin-right: 8px;
}

.tooltip__tips a {
  color: #24B47E;
  text-decoration: underline;
}

.tooltip.active .tooltip__button i {
  color: #24B47E;
}
