.wrapper_faq .faq-wrapper {
  margin: 60px auto 0;
}
.wrapper_faq .faq-list {
  margin-top: 15px;
}
.wrapper_faq .faq-wrapper .faq {
  width: 232px;
  min-width: 232px;
  margin-right: 116px;
}
.wrapper_faq .faq-wrapper .faq h2 {
  padding-bottom: 50px;
}

@media (min-width: 1281px) {
  .experts-wrapper .faq-wrapper .faq .faq--title-font-size {
    font-size: 42px;
  }

  .wrapper_faq .cafe24-experts-front-pagenation {
    margin: 80px 0 208px;
  }

  .wrapper_faq .faq-category--padding {
    padding: 2px 0 16px;
    margin: 0 !important;
  }

}

@media (min-width: 768px) and (max-width: 1280px) {
  .wrapper_faq .faq-wrapper {
    margin: 50px auto 0;
  }

  .wrapper_faq .faq-list {
    margin-top: -3px;
  }

  .experts-wrapper .faq-wrapper .faq .faq--title-font-size {
    font-size: 36px;
    line-height: 48px;
    margin: 0;
    padding-bottom: 59px;
  }

  .wrapper_faq .cafe24-experts-front-pagenation.wrapper_faq .experts-wrapper .faq-wrapper .faq-list62 {
    margin: 75px 0;
  }

  .wrapper_faq .faq-wrapper .cafe24-experts-front-pagenation .pageNum li:nth-child(n+6) {
    display: none;
  }

  .wrapper_faq .category-list--padding {
    padding-bottom: 4px;
  }

  .wrapper_faq .cafe24-experts-front-pagenation {
    margin: 75px 0;
  }

}

@media (max-width: 767px) {
  .wrapper_faq .experts-wrapper .faq-wrapper {
    margin-top: 42px;
  }

  .wrapper_faq .experts-wrapper .faq-wrapper .faq .faq--title-font-size {
    font-size: 28px;
    margin: 0;
    padding-bottom: 42px;
  }

  .wrapper_faq  .cafe24-experts-front-pagenation::before {
    background-color: #FFFFFF !important;
    top: -60px;
  }

  .wrapper_faq .cafe24-experts-front-pagenation {
    margin: 60px 0 61px;
  }

  .wrapper_faq .faq-wrapper .faq-list {
    margin-top: -3px;
  }

  .wrapper_faq .cafe24-experts-front-pagenation .pageNum li:nth-child(n+6) {
    display: none;
  }

}
